<div class="container-cabecalho">
  <h5>{{titulo}}</h5>
</div>
<br>

<div class="fundo">
  <div class="container">
    <form [formGroup]="formColecao" *ngIf="formColecao" (ngSubmit)="modificaColecao()">
      <div class="container-quadro" >
        <br>
        <div class="row">
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="nomeColecao" type="text" class="form-control" id="floatingInput" placeholder="Nome da coleção">
            <label for="floatingInput">Nome da Coleção</label>
          </div>
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="responsavelColecao" type="text" class="form-control" id="floatingInput" placeholder="Responsável pela Coleção">
            <label for="floatingInput">Responsável pela Coleção</label>
          </div>
        </div>
        <div class="row">
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="estacao" type="text" class="form-control" id="floatingInput" placeholder="Para qual estação?">
            <label for="floatingInput">Para qual estação?</label>
          </div>
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="marca" type="text" class="form-control" id="floatingInput" placeholder="Para qual marca está produzindo?">
            <label for="floatingInput">Para qual marca está produzindo?</label>
          </div>
        </div>

        <div  class="row">
          <div class="form-floating mt-3 mb-4 col-6 ">
            <input formControlName="orcamento" type="number" class="form-control" id="floatingInput" placeholder="Qual orçamento desta coleção?">
            <label for="floatingInput">Qual orçamento desta coleção?</label>
          </div>
          <div class="form-floating mt-3 mb-4 col-6 ">
            <input formControlName="lancamento" type="text" class="form-control" id="floatingInput" placeholder="Ano lançamento">
            <label for="floatingInput">Ano lançamento</label>
          </div>
        </div>
      </div>
      <div  class="imagemModa">
        <img src="../../../../assets/cliclo-moda.png">
      </div>
      <br>
      <div>
        <div class="ajustaBotoes">
          <div class="botaoExcluir" *ngIf="colecaoId !== 'criar'">
            <button type="submit" class="btn btn-danger" (click)="excluiColecao()">Excluir</button>
          </div >
          <div class="botoesPadrao">
            <button type="submit" (click)="retornaPaginaColecao()" class="btn btn-light botaoCancelar">Cancelar</button>
            <button type="submit" [disabled]="!formColecao.valid" class="btn btn-primary">Atualizar</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>

