<div class="container-cabecalho">
  <h5>{{titulo}}</h5>

</div>
<br>

<div class="fundo">


  <div class="container">

    <form [formGroup]="formColecao" *ngIf="formColecao">


      <div class="container-quadro" >

        <br>
        <div class="row">
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="nomeColecao" type="text" class="form-control" id="floatingInput" placeholder="Nome coleção">
            <label for="floatingInput">Nome Coleção</label>
          </div>
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="responsavelColecao" type="text" class="form-control" id="floatingInput" placeholder="Responsável Coleção">
            <label for="floatingInput">Responsável Coleção</label>
          </div>
        </div>
        <div class="row">
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="estacao" type="text" class="form-control" id="floatingInput" placeholder="Estação">
            <label for="floatingInput">Estação</label>
          </div>
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="marca" type="text" class="form-control" id="floatingInput" placeholder="Marca">
            <label for="floatingInput">Marca</label>
          </div>
        </div>

        <div  class="row">
          <div class="form-floating mt-3 mb-4 col-6 ">
            <input formControlName="orcamento" type="number" class="form-control" id="floatingInput" placeholder="Orçamento">
            <label for="floatingInput">Orçamento</label>
          </div>
          <div class="form-floating mt-3 mb-4 col-6 ">
            <input formControlName="lancamento" type="text" class="form-control" id="floatingInput" placeholder="Lançamento">
            <label for="floatingInput">Lançamento</label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div  class="imagemModa">
    <img src="../../../../assets/cliclo-moda.png">
  </div>
  <br>
  <div>
    <div>
      <div class="botaoExcluir" *ngIf="colecaoId !== 'criar'">
        <button type="submit" class="btn btn-danger" (click)="excluiColecao()">Excluir</button>
      </div>
      <div class="botoesPadrao">
        <button type="submit" (click)="retornaPaginaColecao()" class="btn btn-light botaoCancelar">Cancelar</button>
        <button type="submit" (click)="modificaColecao()" class="btn btn-primary">Atualizar</button>
      </div>
    </div>
  </div>
</div>

