<div class="container-cabecalho">
  <h5>{{titulo}}</h5>

</div>
<br>

<div class="fundo">


  <div class="container">

    <form [formGroup]="formModelo" *ngIf="formModelo">


      <div class="container-quadro" >

        <br>
        <div class="row">
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="nomeModelo" type="text" class="form-control" id="floatingInput" placeholder="Nome do modelo">
            <label for="floatingInput">Nome do Modelo</label>
          </div>
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="tipoModelo" type="text" class="form-control" list="tipoModelos" id="select" placeholder="Nome do modelo">
            <label for="select">Tipo do Modelo</label>
            <datalist id="tipoModelos" >
                <option value="bermuda">bermuda</option>
                <option value="biquíni">biquíni</option>
                <option value="bolsa">bolsa</option>
                <option ngValue="boné">boné</option>
                <option value="calça">calça</option>
                <option value="calçados">calçados</option>
                <option value="camisa">camisa</option>
                <option value="chapéu">chapéu</option>
                <option value="saia">saia</option>
              </datalist>
          </div>
        </div>
        <div class="row">
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="nomeColecao" type="text" class="form-control" list="listaColecoes" id="colecoes" placeholder="Nome do modelo">
            <label for="colecoes">Selecionar Coleção</label>
            <datalist id="listaColecoes" >
                <option *ngFor="let colecao of listaColecoes" [ngValue]="colecao.nomeColecao">{{colecao.nomeColecao}}</option>
            </datalist>
          </div>
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="nomeResponsavel" type="text" class="form-control" id="floatingInput" placeholder="Responsável pelo Modelo">
            <label for="floatingInput">Responsável pelo Modelo</label>
          </div>
        </div>

        <div  class="row">
          <div class="form-floating mt-3 mb-4 col-6 ">
            <p>Possui Bordado?</p>
            <br>
            <div class="ajustaRadio">
              <input formControlName="bordado" name="bordado" type="radio" value="sim" id="bordado" > Sim
              <input formControlName="bordado" name="bordado" type="radio" value="nao" id="bordado" > Não
            </div>
          </div>
          <div class="form-floating mt-3 mb-4 col-6 ">
            <p>Possui Estampa?</p>
            <br>
            <div class="ajustaRadio">
              <input formControlName="estampa" name="estampa" type="radio" value="sim" id="bordado" > Sim
              <input formControlName="estampa" name="estampa" type="radio" value="nao" id="bordado" > Não
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div  class="imagemModa">
    <img src="../../../../assets/cliclo-moda.png">
  </div>
  <br>
  <div>
    <div>
      <div class="botaoExcluir" *ngIf="modeloId !== 'criar'">
        <button type="submit" class="btn btn-danger" (click)="'excluiColecao()'">Excluir</button>
      </div>
      <div class="botoesPadrao">
        <button type="submit" (click)="retornaPaginaColecao()" class="btn btn-light botaoCancelar">Cancelar</button>
        <button type="submit" (click)="modificaModelo()" class="btn btn-primary">Atualizar</button>
      </div>
    </div>
  </div>
</div>

