<div class="container-cabecalho">
  <h5>{{titulo}}</h5>
</div>
<br>
<div class="fundo">
  <div class="container">

    <form [formGroup]="formModelo" *ngIf="formModelo">
      <div class="container-quadro" >

        <br>
        <div class="row">
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="nomeModelo" type="text" class="form-control" id="floatingInput" placeholder="Nome do modelo">
            <label for="floatingInput">Nome do Modelo</label>
          </div>
          <div  class="form-floating mt-3 mb-4 col-6">

            <select class="form-select" formControlName="nomeColecao" >
              <option value="" disabled selected >Tipo do modelo</option>
                <option value="bermuda">bermuda</option>
                <option value="biquíni">biquíni</option>
                <option value="bolsa">bolsa</option>
                <option ngValue="boné">boné</option>
                <option value="calça">calça</option>
                <option value="calçados">calçados</option>
                <option value="camisa">camisa</option>
                <option value="chapéu">chapéu</option>
                <option value="saia">saia</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div  class="form-floating mt-3 mb-4 col-6">
            <select class="form-select" formControlName="nomeColecao" >
              <option value="" disabled selected >Selecionar Coleção</option>
              <option *ngFor="let colecao of listaColecoes" [ngValue]="colecao.nomeColecao">{{colecao.nomeColecao}}</option>
            </select>
          </div>
          <div  class="form-floating mt-3 mb-4 col-6">
            <input formControlName="nomeResponsavel" type="text" class="form-control" id="floatingInput" placeholder="Responsável pelo Modelo">
            <label for="floatingInput">Responsável pelo Modelo</label>
          </div>
        </div>

        <div  class="row">
          <div class="form-floating mt-3 mb-4 col-6 ">
            <p>Possui Bordado?</p>
            <br>
            <div class="ajustaRadio">
              <input formControlName="bordado" name="bordado" type="radio" value="sim" id="bordado" > Sim
              <input formControlName="bordado" name="bordado" type="radio" value="nao" id="bordado" > Não
            </div>
          </div>
          <div class="form-floating mt-3 mb-4 col-6 ">
            <p>Possui Estampa?</p>
            <br>
            <div class="ajustaRadio">
              <input formControlName="estampa" name="estampa" type="radio" value="sim" id="bordado" > Sim
              <input formControlName="estampa" name="estampa" type="radio" value="nao" id="bordado" > Não
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
<br>
<br><br><br>

  <div class="ajustaBotoes">
      <div class="botaoExcluir" *ngIf="modeloId !== 'criar'">
        <button type="submit" class="btn btn-danger" (click)="excluiModelo()">Excluir</button>
      </div>
    <div class="botoesPadrao">
      <button type="submit" (click)="retornaPaginaColecao()" class="btn btn-light botaoCancelar">Cancelar</button>
      <button type="submit" (click)="modificaModelo()" [disabled]="!formModelo.valid" class="btn btn-primary">Atualizar</button>
    </div>

  </div>
</div>

