<div class="container-cabecalho">
  <h5>Coleções</h5>
  <button type="submit" (click)="criaModelo()">Criar Modelo</button>
</div>
<br><br>

<div class="fundo">

  <table class="table">

    <thead>
      <tr>
        <th scope="col">ModeloID</th>
        <th scope="col">Nome Modelo</th>
        <th scope="col">Responsável</th>
        <th scope="col">Coleção</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let modelo of listaModelos" [routerLink]="['/modelo/', modelo.id]" class="linhaClicavel">

        <td>{{modelo.id}}</td>
        <td>{{modelo.nomeModelo}}</td>
        <td>{{modelo.responsavelModelo}}</td>
        <td>{{modelo.colecao}}</td>


      </tr>

    </tbody>
  </table>
</div>

