<div class="row d-flex justify-content-space-between">
  <div class="card" >

    <div class="card-body">
      Coleções
      <h3>{{totalColecoes}}</h3>

    </div>
  </div>
  <div class="card" >

    <div class="card-body">
      Modelos
      <h3 class="card-text">{{totalModelos}}</h3>

    </div>
  </div>
  <div class="card" >

    <div class="card-body">
      Orçamento Médio (R$)

      <h3 class="card-text">{{mediaOrcamentos}}</h3>
      <span>Comparado com 01/23</span>

    </div>
  </div>
</div>
