<div class="row d-flex justify-content-space-between">
  <div class="card" >
    <div class="card-body">
      Coleções
      <h3>{{totalColecoes}}</h3>
    </div>
  </div>
  <div class="card" >
    <div class="card-body">
      Modelos
      <h3 class="card-text">{{totalModelos}}</h3>
    </div>
  </div>
  <div class="card" >
    <div class="card-body">
      Orçamento Médio (R$)
      <div class="container">
        <h3 class="card-text col-6">{{mediaOrcamentos}}</h3>
        <div >
          <img src="../../../assets/seta-verde.png">
          <span class="corVerde">25%</span>
        </div>
      </div>
      <div class="comparado">
        <span>Comparado com 01/23</span>
      </div>
    </div>
  </div>
</div>
